.container {
    max-width: 1200px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}

.min-height{
    min-height: 75%;
}

.start {
    justify-content: flex-start;
}

.column {
    flex-direction: column;
    justify-content: flex-start;
}

@media screen and (max-width: 960px) {
    
    .container{
        width: auto;
    }

    .start {
        flex-direction: column;
    }
}